<resources>
    <properties>
        <property id="settingPodcastService" type="number">0</property>
        <property id="settingUsername" type="string"></property>
        <property id="settingPassword" type="string"></property>
        <property id="settingDeviceId" type="string"></property>
        <property id="settingServiceUrl" type="string"></property>
        <property id="settingPlaylistSortDescending" type="number">1</property>
        <property id="settingPlaylistAutoSelect" type="boolean">false</property>
        <property id="settingDeleteAfterPlayed" type="boolean">false</property>
    </properties>

    <strings>
        <string id="settingPodcastServiceTitle">Subscription service</string>
        <string id="settingUsernameTitle">Username</string>
        <string id="settingPasswordTitle">Password</string>
        <string id="settingDeviceIdTitle">Device ID</string>
        <string id="settingServiceUrlTitle">Service URL (optional)</string>
        <string id="settingStorageTitle">Storage info</string>
        <string id="settingPlaylistSortDescendingTitle">Sort playlist</string>
        <string id="settingPlaylistAutoSelectTitle">Select all podcasts in playlist</string>
        <string id="settingDeleteAfterPlayedTitle">Delete episode after played</string>

        <string id="none">Local</string>
        <string id="gPodder">gpodder.net</string>
        <string id="nextcloud">Nextcloud (gPodder)</string>
        <string id="ascending">Newest to oldest</string>
        <string id="descending">Oldest to newest</string>
        <string id="yes">Yes</string>
        <string id="no">No</string>
    </strings>

    <settings>
        <setting propertyKey="@Properties.settingPodcastService" title="@Strings.settingPodcastServiceTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.none</listEntry>
                <listEntry value="1">@Strings.gPodder</listEntry>
                <listEntry value="2">@Strings.nextcloud</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.settingUsername" title="@Strings.settingUsernameTitle">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>

        <setting propertyKey="@Properties.settingPassword" title="@Strings.settingPasswordTitle">
            <settingConfig type="password" required="false" />
        </setting>

        <setting propertyKey="@Properties.settingDeviceId" title="@Strings.settingDeviceIdTitle">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>

        <setting propertyKey="@Properties.settingServiceUrl" title="@Strings.settingServiceUrlTitle">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>
                <setting propertyKey="@Properties.settingPlaylistSortDescending" title="@Strings.settingPlaylistSortDescendingTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.ascending</listEntry>
                <listEntry value="1">@Strings.descending</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.settingPlaylistAutoSelect" title="@Strings.settingPlaylistAutoSelectTitle">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.settingDeleteAfterPlayed" title="@Strings.settingDeleteAfterPlayedTitle">
            <settingConfig type="boolean" />
        </setting>
    </settings>
</resources>