<resources>
    <properties>
        <property id="settingPodcastService" type="number">0</property>
        <property id="settingUsername" type="string"></property>
        <property id="settingPassword" type="string"></property>
        <property id="settingDeviceId" type="string"></property>
        <property id="settingServiceUrl" type="string"></property>
    </properties>

    <strings>
        <string id="settingPodcastServiceTitle">Subscription service</string>
        <string id="settingUsernameTitle">Username</string>
        <string id="settingPasswordTitle">Password</string>
        <string id="settingDeviceIdTitle">Device ID</string>
        <string id="settingServiceUrlTitle">Service URL (optional)</string>
        <string id="settingStorageTitle">Storage info</string>

        <string id="none">Local</string>
        <string id="gPodder">gpodder.net</string>
    </strings>

    <settings>
        <setting propertyKey="@Properties.settingPodcastService" title="@Strings.settingPodcastServiceTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.none</listEntry>
                <listEntry value="1">@Strings.gPodder</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.settingUsername" title="@Strings.settingUsernameTitle">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>

        <setting propertyKey="@Properties.settingPassword" title="@Strings.settingPasswordTitle">
            <settingConfig type="password" required="false" />
        </setting>

        <setting propertyKey="@Properties.settingDeviceId" title="@Strings.settingDeviceIdTitle">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>

        <setting propertyKey="@Properties.settingServiceUrl" title="@Strings.settingServiceUrlTitle">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>
    </settings>
</resources>